services:

  station1:
    build: ./sensors/station_1
    container_name: station1
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.3


  station2:
    build: ./sensors/station_2
    container_name: station2
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.12

  station3:
    build: ./sensors/station_3
    container_name: station3
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.16

  bike1:
    build: ./sensors/bike_1
    container_name: bike1
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.4

  bike2:
    build: ./sensors/bike_2
    container_name: bike2
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.14

  bike3:
    build: ./sensors/bike_3
    container_name: bike3
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.15

  bikeoperator1:
    build: ./sensors/bike_operator
    container_name: bike_operator
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mqtt-broker
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.11

  monitor:
    build: ./monitor
    container_name: monitor
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - influxdb
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.5

  analysis:
    build: ./analysis
    container_name: analysis
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - influxdb
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.7

  planning:
    build: ./planning
    container_name: planning
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - influxdb
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.8

  knowledge:
    build: ./knowledge
    container_name: knowledge
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - influxdb
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.9

  executor:
    build: ./executor
    container_name: executor
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - influxdb
    volumes:
      - ./configuration/config.ini:/app/configuration/config.ini
    networks:
      green-network:
        ipv4_address: 10.40.0.10

  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: mosquitto_broker
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"
    networks:
      green-network:
        ipv4_address: 10.40.0.2

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminadmin
      - DOCKER_INFLUXDB_INIT_ORG=GreenMoving
      - DOCKER_INFLUXDB_INIT_BUCKET=bike_monitoring
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=9UAPy4qDu16TQSUe4G9EN88rzsnC1srqrhgwu4Kxg9asMCxLdkCq_NgZzUp2gpnAfSj5W-XTzjeIUEsA23CiIw==
    volumes:
      - ./influx_db:/var/lib/influxdb2
    entrypoint: >
      bash -c "rm -rf /var/lib/influxdb2/* && /entrypoint.sh influxd"
    networks:
      green-network:
        ipv4_address: 10.40.0.6

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning

    networks:
      green-network:
        ipv4_address: 10.40.0.13
        
  node-red:
    image: nodered/node-red:latest
    ports:
      - "1880:1880"
    volumes:
      - ./nodered/data:/data
    depends_on:
      - mqtt-broker
    networks:
      green-network:
        ipv4_address: 10.40.0.17

volumes:
  grafana:
  influxdb:



networks:
  green-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.40.0.0/24

